.card-back-card {
    background-color: darkgrey;
    color: white;
    border: none;
  }

  .card-back-card:hover {
    box-shadow: 0 0 15px 5px rgba(104, 104, 233, 0.7); /* Dark blue shadow on hover */
  }
  
  .card-back-card .card-title {
    font-size: 1rem;
  }
  
  .card-back-card .card-img-small {
    height: 150px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the entire space */
  }
  
  .card-back-card .card-img {
    height: 200px; /* Default size for larger images */
    object-fit: cover; /* Ensure the image covers the entire space */
  }
  
  