.card-back-detail-container {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .card-back-image {
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
    margin-bottom: 20px;
  }
  
  .action-buttons {
    margin-top: 10px;
  }
  
  .like-button,
  .collect-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .like-button .liked {
    color: red; /* Color when liked */
  }
  
  .collect-button .collected {
    color: green; /* Color when collected */
  }
  
  .like-button:hover,
  .collect-button:hover {
    text-decoration: underline;
  }
  
  